/* client/src/components/InvoiceDetail.css */
.invoice-box {
    max-width: 800px;
    margin: 20px auto;
    padding: 30px;
    border: 1px solid #eee;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.15);
    font-size: 16px;
    line-height: 24px;
    font-family: 'Helvetica Neue', 'Helvetica', Helvetica, Arial, sans-serif;
    color: #555;
}

.invoice-header-number,
.client-details {
    text-align: left;
    padding: 10px;
    border-style: solid;
    border-width: 1px 1px 1px 1px;
    border-radius: 5px;
}

.invoice-header {
    display: flex;
    justify-content: space-between;
    margin-bottom: 40px;
}

.company-details {
    text-align: center;
    padding: 10px;
}

.company-details h2 {
    margin: 0;
}

.client-details {
    text-align: right;
    padding: 10px;
}

.items-table {
    width: 100%;
    line-height: inherit;
    text-align: left;
    border-collapse: collapse;
}

.items-table td,
.items-table th {
    padding: 10px;
    border-bottom: 1px solid #eee;
}

.items-table thead th {
    background: #f9f9f9;
    font-weight: bold;
    border-bottom: black 2px solid;
}

.items-table tbody tr:last-child td {
    border-bottom: none;
}

.invoice-footer {
    display: flex;
    justify-content: flex-end;
    margin-top: 30px;
}

.total-section {
    text-align: right;

}

.total-section p {
    margin: 0;
    font-size: 1.2em;
    font-weight: bold;
}

.total-section .status {
    font-size: 1em;
    font-weight: normal;
    margin-top: 5px;
    color: #e74c3c;
}

.payment-history {
    margin-top: 40px;
    text-align: left;
}